@import "variables";
@import "config";
@import "include-media";

// Globals
.container {
  width: 100%;
  height: 100vh;
  border: solid red 2px;
  background: url(../images/bg-pattern-top.svg) no-repeat,
    url(../images/bg-pattern-bottom.svg) no-repeat;
  background-position: left -14rem top -9rem, right -13.5rem bottom -9rem;
  background-size: 120%, 120%;
  background-color: $primary-dark-cyan;

}

//
